<!DOCTYPE html>
<html lang="en">

<head>

	<title>ttttt</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ad</title>
	<link rel="stylesheet" type="text/css" href="/css/jass.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">

</head>

<body>

	<header>
		<div class="container">
			<div class="left-section">
				<div class="About">
					<h1>rrrrrr</h1>
				</div>
			</div>
			<div class="main-section">
			</div>
			<div class="user-profile">
			

				<div class="user-dropdown">
					<button class="dropdown-button">User Options</button>
					<div class="dropdown-content">
						<a href="#">Home Page</a>
						<a href="#">Login</a>
						<a href="#">Logout</a>
					</div>
				</div>
			</div>
		</div>

	</header>
	<div id="wrapall">
		<div id="sidebar">
			<aside>
				<div>tytytytytytyt <img src="/css/some.jpg"> </div>
			</aside>
		</div>
		<div id="main">
			{{{ body }}}
		</div>
	</div>
	<script src="../../public/app.js"></script>

	<footer class="footer">
	
		<a href="https://github.com/tatiana404">GitHub Project Link</a>
	</footer>
</body>

</html>